<div ng-controller="CountryController as ctrl">
    <h2>Countries</h2>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Population</th>
        </thead>
        <tbody>
            <tr ng-repeat="country in ctrl.countries">
                <td>{{country.name}}</td>
                <td>{{country.population}}</td>
            </tr>
        </tbody>
    </table>
</div>
